/*tamaño de tipografia*/
$xx-large:70px;
$x-large: 30px;
$large: 18px;
$medium: 16px;
$small: 10px;


$regular:200;
$medium:300;
$bold_italic:900;

$fuente1:'Futura-Normal', arial;

/*open sans*/
$fuente2: 'Open Sans', sans-serif;
$light:300;
$regular:400;
$bold:700;