//COLORES BLANCOS Y GRISES//
$white: #fff;
$platinium: #E6E7E7;
$lightgray: #D1D1D1;

//COLORES CORAL//
$fuzzywuzzy: #E56353;
$ruddypink: #D76C69;
$spanishpink: #ECBCBA;

//COLORES NEGROS//
$Eerieblack: #121619;
$raisinblack: #222323;
$nickel: #