.btn1{
background-color: #92dce5;
color: white;
font-family: $fuente2;
border: 0;
font-weight: $light;
}
.btn2{
    background-color: #ef6461;
    color: white;
    font-family: $fuente2;
    border: 0;
    font-weight: $light;

}
a{
    color: black;
}